/*
.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}

.firstTry {
    display: flex;
    width: 58px;
    height: 58px;
}

.firstTry td {
    display: flex;
    width: 200px;
    height: 200px;
}
*/


*{
    background-color: rgba(26, 190, 250, 0);
    font-family: 'Abhaya Libre', serif;
    font-weight: bolder;
    color: white;
    /* font-style: yellow; */
    /* -webkit-text-stroke: 0.1px white; */
} 

.header {
    text-align: center;
    font-size: 70px;
    color:rgba(188, 198, 204, 1);
    font-weight: lighter;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url("custom-library.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.background{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ), url("custom-library.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} 

h1{
    margin: 0;
}


.easy {
    display: flex;
    flex-flow: wrap;
    margin-right: 100px;
    margin-left: 350px;
    font-size: 45px;
}

p{
    font-size: 40px;
    /* font-style: italic; */
    /* filter: invert(1) grayscale(1) contrast(9)  */
}

.rules {
    display: flex;
    font-size: 25px;
    height: 200px;
}

.buttonp{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;

}

.letsplay {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 400px;
    height: 70px;
    /* border-radius: 5px; */
    border-color: rgba(188, 198, 204);
    border-style: none;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    background-color: rgba(188, 198, 204, 0.0);
    cursor: pointer;
}


.usedLetter{
    display: flex;
    height: 50px;
    width: 535px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: rgb(131, 143, 122. 0.3);
}

h2{
    font-size: 40px;
    width: 300px;
    margin: 0px !important;
}

.game {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    z-index: 7;
}

.tries {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-self: center;
    height: 100px;
    padding-top: 900px;
    box-sizing: content-box;
    padding: 10px;
    flex-grow: 0;
}

.tries div {
    display: flex;
    height: 80px;
    width: 75px;
    padding: 5px;
    margin: 10px;
    border-style: solid;
    border-color: black(188, 198, 204, 0.8);
    border-radius: 5px;
    flex-grow: 0;
    background-color: rgba(188, 198, 204, 0.0);
}

.submit{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 400px;
    height: 70px;
    border-radius: 5px;
    border-color: rgba(188, 198, 204);
    border-style: none;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    background-color: rgba(188, 198, 204, 0.0);
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/* .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
} */

input {
    display: flex;
    width: 65px;
    height: 72px;
    font-size: 50px;
    border-style: none;
    text-align: center;
    text-transform: uppercase;
}

input:focus {
    outline: none !important;
    caret-color: transparent;
}

.gray {
    background-color: gray !important;
}

.yellow {
    background-color: yellow !important;
}

.green {
    background-color: green !important; 
}

  .victory {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 181, 6);
    background-image: url("messi\ apuntandote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 30;
}  

.defeat {
    background-color: red;
    background-image: url("Messi\ llorando.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 10;
}

